html {
    color: fuchsia;
}

/*
body {
    color: blue; 
    background-color: coral
}
*/

h1 {
    color: green;
    background-color: beige;
    font-family: "arial";
}

.testtwo {
    background-color: cornflowerblue;
}

.cis-260 {
/*    color: chartreuse;*/
    background-color: cadetblue
}


p {
    color: coral;
    font-size: 32pt;
    background-color: azure;
    }

.test {
    background-color: darkgreen;
}

a {
    color: red;
}